body{
	margin: 0;
	padding: 0;
	border: 0;
}

/************************* MEDIA QUERIES ******************************/


/*********** EXTRA SMALL SCREEN MEDIA QUERIES **************/
@media only screen and (max-width: 767px) {
	/** DESIGN CHOICE **/
	.design-choice-left{
		height: 25vh;
		margin-top: 7.5%;
	}
	.design-choice-right{
		height: 25vh;
		margin-top: 7.5%;
	}

	/** SEVICES **/

	#services-container{
		height: 120vh !important;
	}

	.sevices-image-container{
		height:30vh;
	}
	#service-image-2{
		visibility: hidden;
		height:0;
	}
	#service-image-3{
		visibility: hidden;
		height:0;
	}

	/** FORM **/
	form{
		width: 80vw;
	}
	.btn{
		margin-left: 35%;
	}
}

/*********** SMALL SCREEN MEDIA QUERIES **************/
@media (min-width: 768px){
	.design-choice-left{
		height: 25vh;
		margin-top: 5%;
	}
	.design-choice-right{
		height: 25vh;
		margin-top: 5%;
	}

	/** SEVICES **/
	.sevices-image-container{
		height:20vh;
	}
	.services-image{
		height: 20vh;
	}

	/** FORM **/
	form{
		width: 50vw;
	}
	.btn{
		margin-left: 42.5%;
	}
}

/***********  MEDIUM SCREEN MEDIA QUERIES **************/
@media (min-width: 992px){
	.design-choice-left{
		height: 17.5vh;
		margin-top: 7.5%;
	}
	.design-choice-right{
		height: 17.5vh;
		margin-top: 7.5%;
	}

	/** SEVICES **/
	.sevices-image-container{
		height:35vh;
	}
	.services-image{
		height: 35vh;
	}

	/** FORM **/
	form{
		width: 50vw;
	}


}

/*********** LARGE SCREEN MEDIA QUERIES **************/
@media (min-width: 1200px){
	.design-choice-left{
		height: 18.5vh;
		margin-top: 5%;
	}
	.design-choice-right{
		height: 18.5vh;
		margin-top: 5%;
	}


	/** SEVICES **/
	.sevices-image-container{
		height:40vh;
	}
	.services-image{
		height: 40vh;
	}

	/** FORM **/
	form{
		width: 50vw;
	}
	.btn{
		margin-left: 45%;
	}
}




.headernav{
	height: 8vh;
	min-height: 50px;
}
.container{
	width:100%;
}

#nav-container{
	overflow: hidden;
}

#front-container{
	height: 92vh;
	overflow: hidden;
}

#services-container{
	height:100vh;
	overflow: hidden;
}

#design-container{
	height:100vh;
	overflow: hidden;
}

#form-container{
	height:110vh;
	overflow: hidden;
}

footer{
	height: 10%;
	width: 100%;
}

.services-image{
	width:60%;
	margin-left: 20%;
	margin-right: 20%;

}

.design-choice-left{
	width: 100%;
	border-radius: 20px;
	border: #70120F 10px solid;
	padding: 5%;
	color: #D69272;
}

.design-choice-right{
	width: 100%;
	border-radius:20px;
	border: #70120F 10px solid;
	padding: 5%;
	color: #D69272;
}

form{
	margin: auto;
	margin-top: 5vh;
	padding: 2vh;
	border-radius: 10px;
}
